<!DOCTYPE html>
{% load static %}
<html lang="en">
 	
	<head>
    	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link to App CSS -->
    <link rel="stylesheet" href="{% static 'css/lab9_style.css' %}">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link to Quicksand Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Website Page Title  -->
    <title>PPW Story 9 | Primo Giancarlo Uneputty</title>

  </head>

  <body style="background-color: #ccc;">

		<!-- Bootstrap Sticky Navbar -->
  	<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

  		<!-- Toggler/collapsibe Button -->
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<!-- Navbar Links -->
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
  			<ul class="navbar-nav ml-auto" style="margin-right: 30px;">

  				<li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}" style="font-family: Quicksand; font-size: 20px;"> 
              Story 6
            </a>
          </li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'lab7:view_lab7' %}" style="font-family: Quicksand; font-size: 20px;"> 
      				Story 7
      			</a>
    			</li>

    			<li class="nav-item">
      			<a class="nav-link" href="{% url 'lab8:view_lab8' %}" style="font-family: Quicksand; font-size: 20px;"> 
      				Story 8
      			</a>
    			</li>

          <li class="nav-item">
            <a class="nav-link active disabled" href="{% url 'lab9:view_lab9' %}" style="font-family: Quicksand; font-size: 20px;">
              Story 9
            </a>
          </li>

  		  </ul>
  		</div>

		</nav>

    {% if user.is_authenticated %}
      <header class="text-right mb-3" style="margin-top:20px; margin-right: 20px">
        <form class="site-form" action="{% url 'lab9:logout' %}" method="post">
          {% csrf_token %}

          <button class="btn text-white" type="submit" style="background-color:#FD913C; font-family:Quicksand; font-size:20px;">
            Log Out
          </button>

        </form>
      </header>
    {% endif %}

        <!-- Bootstrap Responsive Column Span-4 -->
        <div class="container" style="margin-top:50px; margin-bottom:50px; padding-right: 5%; padding-left: 5%">
          <div class="container my-3">

            <h1 class="border-bottom mb-4" style="font-family: Quicksand; font-weight: bold; font-size: 70px;">
              <strong>HELLO THERE</br></strong>
            </h1>

            <h1 class="main-title"><strong>{{ user.username }} !</strong></h1>

          </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

  	<!-- Bootstrap JavaScript -->
  	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
  	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>
