<!DOCTYPE html>
{% load crispy_forms_tags %}
{% load static %}
<html lang="en">
 	
 	<head>
    	
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Link to App CSS -->
    <link rel="stylesheet" href="{% static 'css/lab9_style.css' %}">

    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Link to Quicksand Font -->
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

    <!-- Website Page Title  -->
    <title>Signup Page</title>

  </head>

  <body style="background-color: #ccc;">

		<!-- Bootstrap Sticky Navbar -->
  	<nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

  		<!-- Toggler/collapsibe Button -->
  		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    		<span class="navbar-toggler-icon"></span>
  		</button>

  		<!-- Navbar Links -->
  		<div class="collapse navbar-collapse" id="collapsibleNavbar">
  			<ul class="navbar-nav ml-auto" style="margin-right: 30px;">

          <li class="nav-item">
            <a class="nav-link" href="{% url 'homepage:index' %}" style="font-family: Quicksand; font-size: 20px;"> 
              Story 6
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'lab7:view_lab7' %}" style="font-family: Quicksand; font-size: 20px;"> 
              Story 7
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'lab8:view_lab8' %}" style="font-family: Quicksand; font-size: 20px;"> 
              Story 8
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active disabled" href="{% url 'lab9:view_lab9' %}" style="font-family: Quicksand; font-size: 20px;">
              Story 9
            </a>
          </li>

  			</ul>
  		</div>

		</nav>

    {% if user.is_authenticated %}
    <header class="text-right mb-3" style="margin-top:20px; margin-right: 20px">
      <form class="site-form" action="{% url 'lab9:logout' %}" method="post">
        {% csrf_token %}

        <button class="btn text-white" style="background-color:#FD913C; font-family: Quicksand; font-size: 20px;" type="submit">
          Log Out
        </button>

      </form>
    </header>
    {% endif %}

    <div class="container" style="margin-top:40px; margin-bottom:40px">
      <div class="card-group">

        <div class="card text-center text-white" style="background-color:#FD913C; box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);">
          <div class="card-body d-flex align-items-center justify-content-center">

              <h1 style="font-family: Quicksand; font-weight: bold; font-size: 50px;"> 
                <strong> "WIBU BOLEH, GOBLOG JANGAN" </strong> <br/>
                <small class="text-muted"> ~Hafidh~ </small> <br/>
                <br/>
                <strong> "NYESEL GUA NYIPTAIN WORLD WIDE WEB, MALAH DIPAKE BUAT BIKIN WEBSITE BOKEP"</strong> <br/>
                <small class="text-muted"> ~Sir Tim Bernes-Lee~ </small>
                <small class="text-muted"> (Penemu HTML & WWW) </small>
              </h1>

          </div>
        </div>

        <div class="card">

          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">

              <li class="nav-item">
                <a class="nav-link active" href="{% url 'lab9:signup' %}" style="font-family: Quicksand; font-size: 30px;">
                  SIGN UP
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="{% url 'lab9:login' %}" style="font-family: Quicksand; font-size: 30px;">
                  LOG IN
                </a>
              </li>

            </ul>
          </div>

          <div class="container" style="margin-top:40px; margin-bottom:40px">

            <form action="{% url 'lab9:signup' %}" method="post">
              {% csrf_token %}

              <fieldset class="form-group">
                <h1 style="font-family: Quicksand; font-weight: bold; font-size: 40px;"> SIGN UP HERE! </h1>
                {{ form|crispy }}
              </fieldset>

              <div class="form-group" >
                <button class="btn text-white" type="submit"
                style="background-color:#FD913C; font-family:Quicksand; font-size:20px">
                  sign up
                </button>
              </div>
        
            </form>

            <div class="border-top pt-3">
              <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="{% url 'lab9:login' %}">Just Log In</a>
              </small>
            </div>

          </div>
        </div>

      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

  </body>

</html>
