body {
  background: linear-gradient(to bottom right, #606062, #393939);
}

/* Textarea not resizeable */
textarea {
  resize:none
}
section {
  min-height: 500px;
}

/* animasi pada title */
.main-title{
  -webkit-animation: colorchange 2s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
  margin-top: 50px;
  font-size: 60px;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
  0% {
    -webkit-text-stroke: 3px #0fb8ad;
    letter-spacing: 0;
  }
  50% {
    -webkit-text-stroke: 2.5px  #1fc8db;
  }
  100% {
    -webkit-text-stroke: 2px  #2cb5e8;
    letter-spacing: 15px;
  }
}

.card {
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.4);
}

/* styling form */
#input-list form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .status-form-input, #input-list form > .status-form-textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px;
}

/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, 
jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
    width: 290px;
  }
}

#input-list form {
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

#input-list form > h2{
  font-size: 1.5em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}

#input-list form > .status-form-input, #input-list form > .status-form-textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 16px;
}

#my-list {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#my-list .my-list-title {
  font-size: 50px;
  padding: 15px;
  color: white;
  text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  text-align: center;
}

.status-list {
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.status-list:after {
  content:"";
  display:block;
  height:25px; /* Which is the padding of div.container */
  background: #fff;
}

.status-list-title {
  font-size: 25px;
  font-weight: 700;
  padding: 5px 5px 5px;
}

.status-list-date-added {
  font-size: 15px;
  padding: 0 10px;
}

.status-list-description {
  padding: 10px 15px;
  z-index: 15;
  text-align: justify;
  overflow: auto;
  font-size: 20px;
}

.status-list-delete {
  background: #e45;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  height: 50px;
  bottom: 1px;
  position: absolute;
  cursor: pointer;
  z-index: -1;
  -webkit-border-radius: 0 0px 2px 2px;
  -moz-border-radius: 0 0px 2px 2px;
  -o-border-radius: 0 0px 2px 2px;
  border-radius: 0 0px 2px 2px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.status-list-delete {
  bottom: -50px;
}
