html, body {
    scroll-behavior:smooth;
    overflow-x: hidden;
    width:100%;
    height:100%;
}

h1 {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	line-height: 80px;
	text-align: center;
	font-color: #FFFFFF;
}

a {
	font-family: Quicksand;
	font-style: normal;
	font-weight: bold;
	line-height: 60px;
	text-align: center;
	font-color: black;
}

.navbar {
	box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
	height: 70px;
	min-height: 60px;
}

.card {
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* animasi pada title */
.main-title{
  -webkit-animation: colorchange 2s infinite;
  -webkit-animation-direction: alternate;
  text-align: center;
  margin-top: 30px;
  font-family: Quicksand;
  font-size: 100px;
  font-weight: 900;
}

/* animasi colorchange */
@-webkit-keyframes colorchange {
  0% {
    -webkit-text-stroke: 4px #000066;
    -webkit-text-fill-color: #000066;
    letter-spacing: 0;
  }
  50% {
    -webkit-text-stroke: 3.5px  #0000ff;
    -webkit-text-fill-color: #0000ff;
  }
  100% {
    -webkit-text-stroke: 3px  #0099ff;
    -webkit-text-fill-color: #0099ff;
    letter-spacing: 12px;
  }
}