<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <!-- Link to App CSS -->
        <link rel="stylesheet" href="{% static 'css/lab8_style.css' %}" />

        <!-- Link to Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- jQuery UI -->
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <!-- Link to Quicksand Font -->
        <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">

        <!-- Website Page Title -->
        <title>PPW Story 8 | Primo Giancarlo Uneputty</title>

    </head>

    <body style="background-color: #ccc;">

        <!-- Bootstrap Sticky Navbar -->
    <nav class="navbar navbar-expand-sm bg-light navbar-light sticky-top">

        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto" style="margin-right: 30px;">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:index' %}" style="font-family: Quicksand; font-size: 20px;"> 
                        Story 6
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lab7:view_lab7' %}" style="font-family: Quicksand; font-size: 20px;"> 
                        Story 7
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active disabled" href="{% url 'lab8:view_lab8' %}"
                    style="font-family: Quicksand; font-size: 20px;"> 
                        Story 8
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'lab9:view_lab9' %}" style="font-family: Quicksand; font-size: 20px;">
                        Story 9
                    </a>
                </li>

            </ul>
        </div>

        </nav>

        <div class="container">
        
            <h1 class="text-align-center">Search For Your Books Right Here!</h1>

            <div class="d-flex justify-content-center">
                <div class="form-inline active-grey-4 search">
                    <input class="form-control form-control-sm mr-3 w-100 text-align-center" id="search" type="text" 
                    placeholder="Search" aria-label="Search" autocomplete="off">
                </div>
            </div>

            <div id="result" class="p-1 d-flex flex-wrap"></div>
        
            <div class="">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">

                        <li class="page-item disabled" id="prev">
                            <p class="page-link"  tabindex="-1">Prev</p>
                        </li>

                        <li class="page-item active">
                            <p class="page-link" id="current">1 <span class="sr-only">(current)</span></p>
                        </li>
                  
                        <li class="page-item" id="next">
                            <p class="page-link" >Next</p>
                        </li>
                
                    </ul>
              </nav>
            </div>
        
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script>

        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
        crossorigin="anonymous"></script>

        <!-- Bootstrap JavaScript -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
        crossorigin="anonymous"></script>

        <!-- Install jQuery Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <!-- App JavaScript -->
        <script src="{% static 'js/lab8_script.js' %}"></script>

    </body>

</html>
